@layout('main')
@section('content')
    <h1>All Meetings</h1>
    <div class="line"></div>
    @if(meetings.length === 0)
        <h3>There are currently no Meetings.</h3>
    @else
        {{ meetingsJSON }}
        @each(meeting in meetings)
            @include('item')
            @if(!$loop.last)
                <div class="line"></div>
            @endif
        @endeach
    @endif
@endsection