@layout('main')
@section('content')
    <h1>Admin Area</h1>
    <div class="line"></div>
    <ul style="list-style: none;">
        <li><a href="/admin/usermanage">User Management</a></li>
        <li><a href="/admin/invitationmanage">Invitation</a></li>
    </ul>

@endsection